html {
  font-size: 80%;
}
body {
  --background: #e6f8f1;
  --padding: 10px;
  --Font-Size-body-lg: 2.5rem;
  --Font-Size-body-md: 2.0625rem;
  --Font-Size-body-base: 1.25rem;
  @media (max-width: 750px) {
    --padding: 7px;
    --Font-Size-body-lg: 1.875rem;
    --Font-Size-body-md: 1.625rem;
    --Font-Size-body-base: 1.25rem;
  }
  @media (max-width: 500px) {
    --padding: 3px;
    --Font-Size-body-lg: 1.25rem;
    --Font-Size-body-md: 1.25rem;
    --Font-Size-body-base: 1rem;
  }

  &.lyn {
    font-size: 62.5%;
    background: var(--background);
    h2 {
      @include leadTextBold();
      color: var(--Text-Colours-text-primary, #000);
      text-align: center;
    }
    p {
      margin: 0 0 var(--padding);
    }

    .conversationViewRoot {
      background-color: transparent !important;
      #helpTextWelcome {
        display: none;
      }
      #readReactView {
        margin-bottom: 0px !important;
        .lightPanel {
          display: none;
          &.custom_gutter {
            background: #fff;
            border-radius: 20px;
            display: block;
            #comment_shower {
              padding: 1.88rem;
              .not-empty-comment {
                display: flex;
                .social-image-container {
                  display: flex;
                  // padding: 2.25rem 2rem 2.25rem 2.625rem;
                  height: 7.75rem;
                  width: 7.75rem;
                  @media (max-width: 750px) {
                    width: 3.5rem;
                    height: 3.5rem;
                    svg {
                      width: 1.688rem;
                      height: 1.688rem;
                    }
                  }
                  @media (max-width: 500px) {
                    width: 2.9rem;
                    height: 2.9rem;
                    svg {
                      width: 1.688rem;
                      height: 1.688rem;
                    }
                  }
                  justify-content: center;
                  align-items: center;
                  aspect-ratio: 1/1;
                  border-radius: 1.25rem;

                  .icon-cat-image {
                    display: none;
                  }
                  .icon-ram-image {
                    display: none;
                  }
                  .icon-bird-image {
                    display: none;
                  }
                  &.icon-cat {
                    background: var(
                      --Block-Colours-background-Block-Colours-3,
                      #ff8fb1
                    );
                    .icon-cat-image {
                      display: block;
                    }
                  }
                  &.icon-ram {
                    background: var(
                      --Block-Colours-background-Block-Colours-2,
                      #ffbf00
                    );
                    .icon-ram-image {
                      display: block;
                    }
                  }
                  &.icon-bird {
                    background: var(
                      --Block-Colours-background-Block-Colours-5,
                      #f66625
                    );
                    .icon-bird-image {
                      display: block;
                    }
                  }
                }
                .comment-content {
                  width: 100%;
                  margin-left: 1.88rem;
                  .social-name {
                    @include paragraphLeadBold();
                    .x-wrote {
                      @include paragraphLead();
                    }
                    // display: inline;
                    // position: relative;
                    // top: -3px;
                    // margin-inline-start: 5px;
                    // font-weight: 300;
                  }
                  .comment-text {
                    @include paragraphLead();
                    top: 0px !important;
                    font-weight: 400;

                    // min-height: 65px;
                    // position: relative;
                    // top: -13px;
                    // width: 70%;
                    // line-height: 1.3;
                    // font-size: 18px;
                  }
                }
              }
              .Notification {
                &.Notification--warning {
                  @include paragraphLead();
                  strong {
                    @include paragraphLeadBold();
                  }
                }
              }

              .reactionButtons {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                margin-top: 1.5rem;
                @media (max-width: 750px) {
                  flex-direction: column;
                }
                .reactionButton {
                  @include buttonBold();
                  display: flex;
                  gap: 0.62rem;
                  align-items: center;
                  margin-top: 1.8rem;
                  @media (max-width: 750px) {
                    background: #f9f8f6;
                    width: 100%;
                    border-radius: 100px;
                    justify-content: center;
                    margin-top: 6px;
                  }

                  i {
                    &.svgIcon {
                      width: unset;
                      top: 0px;
                    }
                    svg {
                      &.default {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      #commentFormParent {
        margin-top: 1.25rem;
        .protips {
          display: none;
        }
        .comment-form {
          // The entire form
          width: 100%;
          display: flex;
          gap: 1.25rem;
          justify-content: center;
          flex-direction: column;
          // The picture and text box and button
          .top-container {
            // The picture and text box

            display: flex;
            flex-direction: row;
            .social-picture-text {
              display: flex;
              gap: 1.25rem;
              flex-grow: 1;
              .social-image-container {
                display: flex;
                // padding: 2.25rem 2rem 2.25rem 2.625rem;
                height: 5.18rem;
                width: 5.18rem;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
                border-radius: 1.25rem;
                background: var(
                  --Block-Colours-background-Block-Colours-4,
                  #00be77
                );
                @media (max-width: 750px) {
                  width: 3.5rem;
                  height: 3.5rem;
                  svg {
                    width: 1.688rem;
                    height: 1.688rem;
                  }
                }
                @media (max-width: 500px) {
                  width: 2.9rem;
                  height: 2.9rem;
                  svg {
                    width: 1.688rem;
                    height: 1.688rem;
                  }
                }
              }
              .textarea {
                flex-grow: 1;
                // height: 100%;
                textarea {
                  height: 100% !important;
                }
              }
            }
            .comment_form_control_hideable {
              .submit-button-char-count {
                display: flex;
                justify-content: center;
                flex-direction: row;
                @media (max-width: 750px) {
                  flex-direction: column;
                }
              }
            }
            // The submit button
            button {
              &.comment-button {
                @include buttonSmall();
                align-self: center;
                display: flex;
                padding: var(--Buttons-margins-default, 1.25rem)
                  var(--Buttons-margins-md, 1.875rem);
                justify-content: center;
                align-items: center;
                gap: 0.625rem;
                border-radius: 6.25rem;
                background: var(--Buttons-colours-fill-bg-invert, #ffbf00);
              }
            }
            @media (max-width: 750px) {
              flex-direction: column;
              gap: 1.25rem;
            }
          }
          .submit-button-response {
            width: 100% !important;
          }
        }
      }
    }
    .footer {
      @include footerSmall();
      text-align: center;
      a {
        color: black;
        text-decoration: underline;
      }
    }
  }
}
