# Should match the exposed port in docker-compose.yml
API_SERVER_PORT=5001
# Should match the public domain name
API_DEV_HOSTNAME=zippy-polis.netlify.app
API_PROD_HOSTNAME=zippy-polis.netlify.app
DOMAIN_OVERRIDE=zippy-polis.netlify.app
EMBED_SERVICE_HOSTNAME=zippy-polis.netlify.app
